# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
PORT="8080"
ENVIRONMENT="development"

# -----------------------------------------------------------------------------
# Database
# -----------------------------------------------------------------------------
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT="5432"
DB_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=disable"

# -----------------------------------------------------------------------------
# Postgre
# -----------------------------------------------------------------------------
DB_POSTGRE_DSN="host=${DB_HOST} user=${gorm} password=${DB_PASSWORD} dbname=${DB_NAME} port=${DB_PORT} sslmode=disable TimeZone=Asia/Shanghai"

# -----------------------------------------------------------------------------
# JWT
# -----------------------------------------------------------------------------
JWT_SECRET="d2f3119e828385044f8781960675f782ae77b183b504ec0f77edf13629d7eec6"
JWT_EXPIRES=60000
